In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json
import time

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect,func

In [9]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/electric_vehicle_title_registration.csv")

In [22]:
# reflect an existing database into a new model
Base = automap_base()

In [23]:
session = Session(engine)

In [ ]:
# load csv file electric_vehicle_title
electric_vehicle_title_df = pd.read_csv("Resources/electric_vehicle_title_registration.csv")
electric_vehicle_title_df.head(5)

In [6]:
# Clean DataFrame  Dropping columns unclear
drop_clumns = electric_vehicle_title_df.drop(columns=['Meets 2019 HB 2042 Sale Price/Value Requirement', 'Transportation Electrification Fee Paid', 'Hybrid Vehicle Electrification Fee Paid', 'Transportation Electrification Fee Paid'])
drop_clumns.head(2)

,Clean Alternative Fuel Vehicle Type,VIN (1-10),DOL Vehicle ID,Model Year,Make,Model,Vehicle Primary Use,Electric Range,Odometer Reading,Odometer Code,...,2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility,Meets 2019 HB 2042 Electric Range Requirement,Meets 2019 HB 2042 Sale Date Requirement,2019 HB 2042: Battery Range Requirement,2019 HB 2042: Purchase Date Requirement,2019 HB 2042: Sale Price/Value Requirement,Electric Vehicle Fee Paid,2020 Census Tract,Legislative District,Electric Utility
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,142240136,2012,CHEVROLET,Volt,Passenger,35.0,0,Odometer reading is not collected at time of r...,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",Yes,5.303302e+10,48.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,142240136,2012,CHEVROLET,Volt,Passenger,35.0,0,Odometer reading is not collected at time of r...,...,HB 2042 Eligibility Requirements not met,True,False,Meets battery range requirement,"Non-sale, registration transaction","Non-sale, registration transaction",Yes,5.303302e+10,48.0,PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)

In [15]:
# Clean DataFrame  Dropping columns unclear
clean_data= drop_clumns.drop(columns=['Odometer Reading', 'Odometer Reading', '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Vehicle Fee Paid','2015 HB 2778 Exemption Eligibility','Meets 2019 HB 2042 Electric Range Requirement','Meets 2019 HB 2042 Sale Date Requirement','2019 HB 2042: Battery Range Requirement'
,'2019 HB 2042: Purchase Date Requirement','2019 HB 2042: Sale Price/Value Requirement','2019 HB 2042: Purchase Date Requirement','2019 HB 2042: Sale Price/Value Requirement','2020 Census Tract','Legislative District','Electric Utility','County','Odometer Code','DOL Vehicle ID','Base MSRP','Odometer Reading', 'Odometer Reading', '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Vehicle Fee Paid'])
clean_data.head(3)

,Clean Alternative Fuel Vehicle Type,VIN (1-10),Model Year,Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 10 2020,2020,BELLEVUE,WA,98007.0
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 23 2021,2021,BELLEVUE,WA,98007.0
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0

In [ ]:
# Clean DataFrame  Dropping columns unclear
# clean_data1= drop_clumns.drop(columns=['Odometer Reading', 'Odometer Reading', '2019 HB 2042 Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Vehicle Fee Paid'])
# clean_data1.head(3)

In [16]:
#  group data by modle year from clena dataset
model_year= clean_data.groupby('Model Year').count()
model_year.head(4)

,Clean Alternative Fuel Vehicle Type,VIN (1-10),Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
Model Year,,,,,,,,,,,,,,,
1993,4,4,4,4,4,4,4,4,1,4,4,4,4,4,4
1994,3,3,3,3,3,3,3,3,0,3,3,3,3,3,3
1997,21,21,21,21,21,21,21,21,1,21,21,21,21,21,21
1998,30,30,30,30,30,30,30,30,2,30,30,30,30,30,30

In [ ]:
# rename VIN 1-10 to Vehicle_Id
clean_data.rename(columns=
                   {'VIN (1-10)':'Vehicle_Id'}, inplace=True)
clean_data

In [19]:
unique_model =clean_data['Model Year'].unique()
unique_model

array([2012, 2018, 2016, 2017, 2023, 2019, 2020, 2021, 2013, 2015, 2014,
       2022, 2011, 2000, 2010, 2008, 2024, 2002, 1999, 1997, 1998, 2003,
       1993, 2001, 1994], dtype=int64)

In [20]:
unique_mark = clean_data['Make'].unique()
unique_mark

array(['CHEVROLET', 'TESLA', 'KIA', 'BMW', 'VOLKSWAGEN', 'NISSAN',
       'CHRYSLER', 'FORD', 'VOLVO', 'JAGUAR', 'PORSCHE', 'HYUNDAI',
       'LINCOLN', 'RIVIAN', 'MINI', 'FIAT', 'AUDI', 'TOYOTA',
       'MITSUBISHI', 'SUBARU', 'SMART', 'HONDA', 'JEEP', 'MERCEDES-BENZ',
       'POLESTAR', 'CADILLAC', 'LAND ROVER', 'LUCID', 'LEXUS', 'FISKER',
       'GENESIS', 'TH!NK', 'MAZDA', 'AZURE DYNAMICS', 'BUBBLE BUDDY',
       'WHEEGO ELECTRIC CARS', 'DODGE', 'BENTLEY', 'PLYMOUTH'],
      dtype=object)

In [ ]:
# Load CSV file and turn it into PD DataFrames frist dataset
# electric_vehicle_info_df = pd.read_csv("Resources/electric_vehicle.csv")
# electric_vehicle_info_df. head(5)

In [64]:
electric_car =pd.DataFrame(clean_data)
electric_car

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 10 2020,2020,BELLEVUE,WA,98007.0
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 23 2021,2021,BELLEVUE,WA,98007.0
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
3,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,0,NaN,Original Registration,June 06 2018,2018,SEATTLE,WA,98105.0
4,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,Used,0,NaN,Registration Renewal,April 18 2019,2019,SEATTLE,WA,98105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740271,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,NaN,Registration Renewal,August 04 2016,2016,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,Passenger,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,Passenger,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [66]:
# 
data_group_by_model_year =clean_data.groupby('Model Year').count()
data_group_by_model_year.head(3)

electric_df =pd.DataFrame(data_group_by_model_year)
electric_df

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
Model Year,,,,,,,,,,,,,,,
1993,4,4,4,4,4,4,4,4,1,4,4,4,4,4,4
1994,3,3,3,3,3,3,3,3,0,3,3,3,3,3,3
1997,21,21,21,21,21,21,21,21,1,21,21,21,21,21,21
1998,30,30,30,30,30,30,30,30,2,30,30,30,30,30,30
1999,57,57,57,57,57,57,57,57,5,57,57,57,57,57,57
2000,129,129,129,129,129,129,129,129,22,129,129,129,129,129,129
2001,14,14,14,14,14,14,14,14,0,14,14,14,14,14,14
2002,44,44,44,44,44,44,44,44,0,44,44,44,44,44,44
2003,7,7,7,7,7,7,7,7,2,7,7,7,7,7,7
2008,378,378,378,378,378,378,378,378,26,378,378,378,371,378,371
2010,557,557,557,557,557,557,557,557,93,557,557,557,557,557,557
2011,14841,14841,14841,14841,14841,14841,14841,14841,4047,14841,14841,14841,14840,14841,14840
2012,27473,27473,27473,27473,27473,27473,27473,27473,7885,27473,27473,27473,27473,27473,27473
2013,69008,69008,69008,69008,69008,69008,69008,69008,20391,69008,69008,69008,68998,69008,69000
2014,45017,45017,45017,45017,45017,45017,45017,45017,12286,45017,45017,45017,45007,45017,45009
2015,56725,56725,56725,56725,56725,56725,56725,56725,16595,56725,56725,56725,56717,56725,56724
2016,54708,54708,54708,54708,54708,54708,54708,54708,16271,54708,54708,54708,54704,54708,54707
2017,69879,69879,69879,69879,69879,69879,69879,69879,16555,69879,69879,69879,69870,69878,69870
2018,97038,97038,97038,97038,97038,97038,97038,97038,21481,97038,97038,97038,97031,97038,97031
2019,61641,61641,61641,61641,61641,61641,61641,61641,15989,61641,61641,61641,61634,61641,61634
2020,54049,54049,54049,54049,54049,54049,54049,54049,14865,54049,54049,54049,54040,54049,54044
2021,69408,69408,69408,69408,69408,69408,69408,69408,22049,69408,69408,69408,69403,69408,69405
2022,73925,73925,73925,73925,73925,73925,73925,73925,30458,73925,73925,73925,73921,73925,73923
2023,45258,45258,45258,44761,45258,45256,45258,45258,22648,45258,45258,45258,45253,45258,45255
2024,60,60,60,60,60,60,60,60,30,60,60,60,60,60,60

In [23]:
data_group_by_make =clean_data.groupby('Make',).count()
data_group_by_make.head(2)

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
Make,,,,,,,,,,,,,,,
AUDI,12590,12590,12590,12590,12590,12590,12590,12590,3838,12590,12590,12590,12590,12590,12590
AZURE DYNAMICS,84,84,84,84,84,84,84,84,12,84,84,84,84,84,84

In [41]:
sale_price= clean_data['Sale Price'].unique()
sale_price

array([    0, 55000, 37570, ..., 94561, 40226,  3401], dtype=int64)

In [34]:
#  columns info 
clean_data.columns

Index(['Clean Alternative Fuel Vehicle Type', 'Vehicle_Id', 'Model Year',
       'Make', 'Model', 'Vehicle Primary Use', 'Electric Range',
       'New or Used Vehicle', 'Sale Price', 'Sale Date', 'Transaction Type',
       'DOL Transaction Date', 'Transaction Year', 'City',
       'State of Residence', 'Postal Code'],
      dtype='object')

In [ ]:
clean_data.info()

In [38]:
sale_date= clean_data['Sale Date'].value_counts()
sale_date

March 18 2022        386
March 29 2023        331
September 29 2018    325
March 31 2023        321
January 28 2023      316
                    ...
January 02 2012        1
November 23 2017       1
November 24 2016       1
February 09 2012       1
December 25 2017       1
Name: Sale Date, Length: 4432, dtype: int64

In [43]:
sale_date= clean_data.groupby('Sale Date').count()
sale_date.head(3)

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
Sale Date,,,,,,,,,,,,,,,
April 01 2013,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
April 01 2014,11,11,11,11,11,11,11,11,11,11,11,11,11,11,11
April 01 2015,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6

In [61]:
# Generate a summary statistics table of mean, median, 
# Use groupby and summary statistical methods to calculate the following properties of each sale 


mean = clean_data['Sale Price'].groupby(clean_data ['Make']).mean()
median = clean_data['Sale Price'].groupby(clean_data ['Make']).median()
max = clean_data['Sale Price'].groupby(clean_data ['Make']).max()
min = clean_data['Sale Price'].groupby(clean_data['Make']).min()

In [62]:
summary_sale = pd.DataFrame({
    'car sale mean': mean,
    'car sale median': median,
    'car sale max': max,
    'car sale min': min
})

summary_sale

,car sale mean,car sale median,car sale max,car sale min
Make,,,,
AUDI,16507.260048,0,189390,0
AZURE DYNAMICS,485.583333,0,13750,0
BENTLEY,68147.500000,0,277475,0
BMW,11647.976947,0,474160,0
BUBBLE BUDDY,3389.000000,3389,6778,0
CADILLAC,6367.902978,0,499956,0
CHEVROLET,4851.514905,0,170000,0
CHRYSLER,12176.111274,0,121918,0
DODGE,0.000000,0,0,0
FIAT,2224.784187,0,940325,0
FISKER,3173.557047,0,110000,0
FORD,6426.834137,0,349990,0
GENESIS,34665.976190,0,81710,0
HONDA,6199.015145,0,55075,0
HYUNDAI,16769.669519,0,72492,0
JAGUAR,18356.250000,0,96077,0
JEEP,27320.581445,0,779995,0
KIA,11592.071423,0,78030,0
LAND ROVER,24986.497561,0,138645,0
LEXUS,26347.409091,0,72065,0
LINCOLN,27243.113178,0,97000,0
LUCID,64105.942857,0,186650,0
MAZDA,26083.458333,0,59012,0
MERCEDES-BENZ,20400.536547,0,199190,0
MINI,11052.145950,0,275353,0
MITSUBISHI,7971.379570,0,57879,0
NISSAN,3016.865082,0,12312016,0
PLYMOUTH,0.000000,0,0,0
POLESTAR,24084.220930,0,75000,0
PORSCHE,30420.687193,0,1500000,0
RIVIAN,38964.817160,0,149950,0
SMART,1726.083112,0,169000,0
SUBARU,18702.475248,0,64360,0
TESLA,15450.553516,0,11032022,0
TH!NK,447.074074,0,9000,0
TOYOTA,5603.848952,0,288895,0
VOLKSWAGEN,12697.289159,0,490355,0
VOLVO,18331.205812,0,541250,0
WHEEGO ELECTRIC CARS,44.776119,0,2250,0

In [ ]:
# create pie chart that show the % sold by Make

In [65]:
# export electric_car as CSV files.
electric_car.to_csv("Resources/electric_car.csv", index=False)
electric_car

,Clean Alternative Fuel Vehicle Type,Vehicle_Id,Model Year,Make,Model,Vehicle Primary Use,Electric Range,New or Used Vehicle,Sale Price,Sale Date,Transaction Type,DOL Transaction Date,Transaction Year,City,State of Residence,Postal Code
0,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 10 2020,2020,BELLEVUE,WA,98007.0
1,Plug-in Hybrid Electric Vehicle (PHEV),1G1RD6E47C,2012,CHEVROLET,Volt,Passenger,35.0,Used,0,NaN,Registration Renewal,July 23 2021,2021,BELLEVUE,WA,98007.0
2,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,55000,May 23 2018,Original Title,June 06 2018,2018,SEATTLE,WA,98105.0
3,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,New,0,NaN,Original Registration,June 06 2018,2018,SEATTLE,WA,98105.0
4,Battery Electric Vehicle (BEV),5YJ3E1EA0J,2018,TESLA,Model 3,Passenger,215.0,Used,0,NaN,Registration Renewal,April 18 2019,2019,SEATTLE,WA,98105.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
740269,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,July 31 2015,Original Registration,August 19 2015,2015,LYNNWOOD,WA,98037.0
740270,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,July 31 2015,Original Title,August 19 2015,2015,LYNNWOOD,WA,98037.0
740271,Battery Electric Vehicle (BEV),1N4AZ0CP2D,2013,NISSAN,Leaf,Passenger,75.0,Used,0,NaN,Registration Renewal,August 04 2016,2016,LYNNWOOD,WA,98037.0
740272,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,Passenger,75.0,New,0,July 18 2013,Original Registration,August 06 2013,2013,PACIFIC,WA,98047.0
740273,Battery Electric Vehicle (BEV),1N4AZ0CP7D,2013,NISSAN,Leaf,Passenger,75.0,New,0,July 18 2013,Original Title,August 06 2013,2013,PACIFIC,WA,98047.0

In [63]:
# Export datafram  to json df.to_json(path, orient='records')
electric_car.to_json('car.json', orient='records')